* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --white:#fff;
  --background-color: #F5F5F5;
  --black: #333333;
  --gray-bar: #E9E9E9;
  --gray: #E9E9E9;
  --light-gray: #999999;
  --gray-icon: #666666;
  --text: #333333;
  --title: #2E384D;
  --wine: #D83367;
  --orange: #FF8700;
}